

</head>
<table width="100%">
	<tr>
		<td id="tdlogo">
			<a  id="alogo" href="">
				<h1>
					LOGO
				</h1>
			</a>
		</td>
		<td id="tdhead">
			<div id="dvhead">
				<h1>
					Encabezado
				</h1>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div id="dvmenu">
				<h1>Menu</h1>
				<a href="/types" target="content">Types</a>
				<br>
				<a href="/tickets" target="content">Tickets</a>
				<br>
				<a href="/users" target="content">Users</a>
				<br>
				<a href="/clothings" target="content">Clothings</a><br>
			</div>
		<td>
			<iframe id="content" height="650" width="100%" src=""></iframe>
		</td>
	</tr>
</table>
