// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dvmenu {
	text-align: left;
	background-color: AliceBlue  ;
}

iframe {
	background-color: LightSkyBlue ;
}

td {
	text-align: left;
	vertical-align: top;
	background-color:AliceBlue  ; 
}

#dvhead{
	font-family:"Times New Roman",Georgia,Serif;
	font-style: oblique;
	font-weight: bold;
	background-color: black  ;
	text-align: center;
	color: white;

}
#tdhead{
	background-color: navy;
}
#tdlogo{
	background-color: white;
}
#alogo{
	color: red;
}